.search {
  margin: 30px;
}

.search input {
  margin-right: 10px;
  padding: 6px;
  border-radius: 5px;
  border: 2px solid #dc3545;
  outline: none;
  text-align: center;
}

.paginationButtons {
  width: 60%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-top: 30px;
}

.paginationButtons a {
  padding: 10px;
  margin: 8px;
  border: 2px solid #dc3545;
  border-radius: 5px;
  cursor: pointer;
}

.paginationButtons a:hover {
  color: white;
  background-color: #dc3545;
}

.paginationActive {
  color: black;
  font-weight: bolder;
}

.footer {
  align-items: center;
  display: flex;
  margin: 20px;
  justify-content: center;
}

.footer button {
  width: 200px;
}
